.options {

    width: 20%;
    display: flex;
    justify-content: center;
    position: relative;

    &__button {
     
  
        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
  
        &:active {
          opacity: 0.8;
        }
    }

    &__dropdown {
        position: absolute;
        top: 25px;
        list-style-type: none;
        z-index: 1;
        margin: 0;
        text-align: center;
        padding: 0 10px;
        color: #000;

        li {
            border: solid rgb(187, 184, 184) 1px;
            padding: 4px 10px;
            background-color: #efefef;
        }
    }
}