.new-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 7px 3px rgb(155, 154, 154), -5px 3px 3px rgb(155, 154, 154);
  border: solid rgb(110, 109, 109) 1.5px;
  border-radius: 5px;
  padding: 2%;
  height: 260px;
  width: 50%;

  @media (max-width: 570px) {
    width: 75%;
  }

  .new-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin-top: 15px;

    .new-form__title {
      display: flex;
      flex-direction: column;
      gap: 7px;

      &-input {
        height: 40px;
        width: 240px;
        border-radius: 6px;
        border: solid rgb(110, 109, 109) 1.5px;
        margin-bottom: 1px;
        padding-left: 10px;

        @media (max-width: 330px) {
          width: 95%;
        }
      }

      .error {
        color: red;
        font-size: 12px;
        text-align: left;
      }
    }
  }

  .new-form__description {
    display: flex;
    flex-direction: column;
    gap: 7px;

    &-text {
      width: 90%;
      height: 70px;
      resize: none;
      padding-left: 5px;
      border: solid rgb(110, 109, 109) 1.5px;
      border-radius: 6px;
    }
  }

  .new-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    select {
      height: fit-content;
    }

    .new-form__add-button {
      width: 45px;
      height: fit-content;
      background-color: rgb(30, 230, 30);
      border-radius: 6px;

      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }

      &:active {
        opacity: 0.8;
      }

      .new-form__add-icon {
        width: 100%;
        height: 100%;
        color: white;
      }
    }
  }
}
