.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    cursor: initial;

    &__content {

    position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background-color: rgb(254 254 254);
      border-radius: 10px;
      width: 450px;
      height: 250px;
      padding: 10px 30px;

    .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    .modal__title {
      margin: 0;
    }

    .task__edit-button {
      background-color: #f5e70b;

        &:hover {
        opacity: 0.9;
        cursor: pointer;
      }

      &:active {
        opacity: 0.8;
      }
    }
    }

  }

  .modal__description {
    display: flex;
    justify-content: center;
    height: 70px;

    &-text {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }

  .modal__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.overlay {
    background-color: rgba(49, 49, 49, 0.8);
}