.wrapper {
  display: flex;
  height: fit-content;

  .filters {
    width: 300px;
    height: calc(100vh - 125px);
    margin: 15px 0 0 15px;
    border: solid rgb(110, 109, 109) 1.5px;
    border-radius: 10px;
    padding: 10px;
    color: #000;

    &__tag {
      width: fit-content;
      cursor: pointer;

      &:hover {
        color: gray;
      }
    }
  }

  .content {
    
    width: 100%;
    height: fit-content;
    padding: 0 35px;

    &__labels {
      display: flex;
      height: 40px;
      margin-bottom: 10px;
      border: solid 2px gray;
      border-radius: 3px;
      padding: 0 20px;

      .label {
        margin: 0;
        line-height: 1cm;
        text-align: center;
        border-right: solid 1px gray;
      }
      
      .title {
        width: 40%;
      }

      .progress {
        width: 20%;
      }

      .priority-level {
        width: 20%;
      }
    }

    &__task-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  .progress-all {
      background-color: rgb(254 254 254);
    }
    .progress-pending {
     background-color: #bdbdbd;
     color: #fff;
    }
    .progress-inProgress {
     background-color: rgb(253 171 60);
     color: #fff;
    }
    .progress-done {
     background-color: rgb(3 199 117);
     color: #fff;
    }
}
