.header {
  padding: 10px 0 10px 3%;

  &__status-board {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    padding-right: 35px;
  }
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5%;
}
