.wrapper {
  
  .task {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border: solid rgb(110, 109, 109) 1.5px;
    border-radius: 10px;
    box-shadow: 5px 7px 3px rgb(155, 154, 154), -5px 3px 3px rgb(155, 154, 154);
    padding-left: 20px;


    &__title {
      width: 40%;
      height: 100%;
      line-height: 2;
      border-right: solid 1px gray;
      cursor: pointer;
    }
  
    &__progress {
      width: 20%;
      height: 100%;
      text-align: center;
      line-height: 3;
      border-right: solid 1px gray;
      color: white;
    }
  
    &__priority-level {
      width: 20%;
      height: 100%;
      text-align: center;
      line-height: 3;
      border-right: solid 1px gray;
      color: white;
    }

    .priority-none {
      background-color: #bdbdbd;
    }
    .priority-low {
      background-color: #00c068;
    }
    .priority-medium {
      background-color: #4b8ffa;
    }
    .priority-high {
      background-color: #fe50bc;
    }

    .progress-pending {
     background-color: #bdbdbd;
    }
    .progress-inProgress {
     background-color: rgb(253 171 60);
    }
    .progress-done {
     background-color: rgb(3 199 117);
    }
  }

}
