.nav {
  display: flex;
  gap: 35px;
  align-items: center;
  height: 70px;
  padding-left: 2%;
  border-bottom: #fff solid 2px;
  font-family: sans-serif;

  .nav__title {
    font-size: 25px;
  }

  .nav__links {
    display: flex;
    gap: 15px;
    align-items: center;

    .link {
      color: #fff;
      font-size: 18px;
      padding: 5px 5px;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        background-color: #fff;
        color: rgb(3, 2, 8);
      }
    }
  }
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}
