.nav {
  display: flex;
  gap: 35px;
  align-items: center;
  height: 70px;
  padding-left: 3%;
  border-bottom: #000 solid 2px;
  font-family: sans-serif;
  margin-bottom: 25px;

  .nav__title {
    font-size: 25px;
  }

  .nav__links {
    display: flex;
    gap: 15px;
    align-items: center;

    .link {
      font-size: 18px;
      padding: 5px 5px;
      text-decoration: none;
      font-weight: 600;

      &:visited {
        color: #000;
      }
      
      &:hover {
        background-color: rgba(150, 148, 148, 0.856);
        color: #fff;
      }

    }
  }
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}
