.search {
  padding-left: 3%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  gap: 10px;
  align-items: center;
  height: 35px;
  border-radius: 10px;

  &__input {
    border: none;
    outline: none;
  }
}
